<div class=" mt-5">
    <div class="card shadow-sm">
      <div class="card-body text-center">
        <h2 class="card-title">Welcome to App</h2>
        <p class="card-text">
          This app is built using <strong>Angular v19</strong>, <strong>NgRx</strong>, and <strong>Firebase</strong> to demonstrate how to create and retrieve documents from Firebase in real time.

        </p>
        <ul class="list-group text-start">
          <li class="list-group-item hstack align-items-center"> Navigate to the 
            <span (click)="naviagateToUrl(MESSAGES_ROUTES.MAIN)" class="cursor-pointer"><mat-icon class="fs-6 text-center">message</mat-icon></span> tab to view and interact with stored messages.</li>
          <li class="list-group-item"> State management is handled with <strong>NgRx</strong>.</li>
        </ul>
        <p class="mt-3">Explore and enjoy the demo!</p>
      </div>
    </div>
  </div>
  